/*  your css code here. If applicable */
div{
	background-color: lightblue;
	width: 40vh;
	height: 40vh;
	border: 2px solid black;
	position: relative;
	top: 30vh;
	bottom: 30vh;
	left: 30vh;
	right: 30vh;
}
p{
	position: absolute;
	top: 40%;
	bottom: 40%;
	left: 30%;
	right: 30%;
}